<html>
<head>
    <link rel="stylesheet" href="/styles.css">
</head>
    <body>
        <h1>Type your new message:</h1>
        <form action="/new" method="POST">
        <input type="text" name="userInput" placeholder="Enter your name">
        <textarea name="messageInput" placeholder="Enter your message here"></textarea>
        <button type="submit" id="submitMessage">Submit</button>
        </form>
    </body>
</html>